.task {
  display: flex;
  justify-content: center;
  margin: 20px;

  .user {
    width: 60px;
    word-wrap: break-word;
  }

  .text {
    margin-left: 20px;
    width: 500px;
    border-radius: 10px;
    background: gold;
    word-break: break-word;

    > p {
      border-radius: 5px;
      cursor: pointer;
      margin: 10px;

      &:hover {
        background: #f8f7b8;
      }
    }

    .buttonData {
      display: flex;
      justify-content: space-between;
      margin: 10px;
    }
  }
}
